$font-size-base: 1.2rem;
// $font-family-base: 'Open Sans';
$font-family-base: 'Roboto', sans-serif;
@import "../../node_modules/bootstrap/scss/bootstrap";



h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-base;
    font-weight: 700; // Use a bolder weight for headings
}


// @import "../../node_modules/select2/src/scss/core";
// // If you need to import Bootstrap as well:
// @import "../../node_modules/select2-bootstrap-5-theme/src/select2-bootstrap-5-theme";
// // Or if you have already imported Bootstrap:
// @import "../../node_modules/select2-bootstrap-5-theme/src/include-all"; 